<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses Face ID and Touch ID to protect your private trip information. Your biometric data is processed securely on your device and never shared.</string>
</dict>
</plist>
